.wrapper__list-empty {
    text-align: center;
    a{
        color: #03a9f4;
        text-decoration: none;
    }
}
.wrapper__list-strengths {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
  }
  