.button__list-strengths {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid rgba(70, 70, 70, 0.589);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  .indicator__button-proficiency {
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
  }
  .indicator__button-proficiency:hover {
    color: #03a9f4;
  }
  .title__proficiency {
    display: flex;
    align-items: center;
    gap: 10px;
    h3 {
      margin: 5px 0;
    }
  }
}
.button--master {
  background-color: rgb(24, 25, 73);
}
.button--expert {
  background-color: rgba(0, 29, 74, 1);
}
.button--proficient {
  background-color: #123468;
}
.button--novice {
  background: rgb(39, 71, 110);
}
.button--noexperience {
  background-color: rgb(108, 207, 246);
}
